
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">User Login</h2>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form name="loginForm" id="contactForm" ng-submit="main.doLogin( loginForm.$valid);" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                           
                            <div class="form-group">
                                <label>Username:</label>
                                <input ng-disabled="main.disabled" class="form-control" type="text" name="username" placeholder="username *" ng-model="main.loginData.username"  required>
                                <p class="help-block" ng-show="(!loginForm.username.$pristine && loginForm.username.$error.required) || (loginForm.$submitted && loginForm.username.$error.required)">This field is required</p>
                            </div>
                           
                            <div class="form-group">
                                <label>Password:</label>
                                <input ng-disabled="main.disabled" class="form-control" type="password" name="password" placeholder="password *" ng-model="main.loginData.password" required>
                                <p class="help-block" ng-show="(!loginForm.password.$pristine && loginForm.password.$error.required) || (loginForm.$submitted && loginForm.password.$error.required)">This field is required</p>
                            </div>
                        </div>
                       
                      
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-left">
                            
                            <br>
                            <div id="success"></div>
                           
                            <button type="submit" ng-disabled="main.disabled" class="btn btn-xl">Login</button>
                           
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>

       
        <div class="jumbotron text-center" ng-show="main.loading">
            <span class="glyphicon glyphicon-repeat spinner"></span>
            <p>Loading....</p>
        </div>
       

       
        <div class="row show-hide-message" ng-show="main.successMsg || main.errorMsg">
            <div ng-class="alert">{{ main.successMsg || main.errorMsg}}</div>&nbsp
        </div>


    </div>
    
