<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Profile</h2>
    </div>
</div>


<div class="panel panel-info">

    
    <div class="panel-heading" style="text-align: center;"><strong>User Profile</strong></div>

  
    <table class="table">
        <tr>
            <td><strong>Username</strong></td>
            <td><strong>Email Address</strong></td>
            <td><strong>Password</strong></td>
        </tr>
        <tr>
            <td>{{ main.username }}</td>
            <td>{{ main.useremail }}</td>
            <td>****************</td>
        </tr>
    </table>
</div>
<input type="text" ng-model="contact"><button class="btn btn-primary" ng-disabled="!contact.length" ng-click="addContact(contact)">Add</button>

<div class="panel panel-info">

    
    <div class="panel-heading" style="text-align: center;"><strong>Contact List</strong></div>

    
    <table class="table">
         <tr>
            <td><strong>Contact No</strong></td>
            <td><strong>Edit</strong></td>
            <td><strong>Remove</strong></td>
        </tr>
        <tr ng-repeat="contact in contactList.contact">
            <td>{{ contact.contactNo }}</td>
            <td><button ng-click="setContactNo(contactList._id,contact._id,contact.contactNo)" data-toggle="modal" data-target="#myModal">Edit</button></td>
            <td><button ng-click="removeContact(contactList._id,contact._id)">Remove</button></td>
        </tr>
    </table>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <input type="text" name="contactNo" ng-model="contactNo" />
        </div>
        <div class="modal-footer">
          <button type="button" ng-click="editContact()" class="btn btn-default">Save</button>
          <button type="button" ng-click="resetContact()" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  

